<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "northern_h.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Serviços", "/services", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Metodologia", "/methodology", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Quem Somos", "/aboutus", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Nossos Projetos", "/clients", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Blog", "/blog", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contato", "/contact", class: "navbar-wagon-item navbar-wagon-link" %>


  <div class="fontawesome">
    <a href="#"><i class="fab fa-linkedin"></i></i></a>
  </div>
  <div class="fontawesome">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="fontawesome">
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="fontawesome">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>

  </div>

</div>



