<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "northern_h.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Serviços", "/services", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Metodologia", "/methodology", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Quem Somos", "/aboutus", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Nossos Projetos", "/clients", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Blog", "/blog", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contato", "/contact", class: "navbar-wagon-item navbar-wagon-link" %>


  <div class="fontawesome">
    <a href="#"><i class="fab fa-linkedin"></i></i></a>
  </div>
  <div class="fontawesome">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="fontawesome">
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="fontawesome">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  </div>

    <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Metodologia</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Nossos Projetos</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</div>



