<div class="head-clients">
  <h1>Nossos Projetos</h1>
</div>

<div class="container">
  <div class="row">


    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
         <!-- image_tag "center3.png", id:"client-logo" -->
      <div class="client-back" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/blue.png');">
        <div id="card-c3">
          <%= image_tag "center3.png"%>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
         <!-- image_tag "center3.png", id:"client-logo" -->
      <div class="client-back" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/blue.png');">
        <div id="card-ibracem">
          <%= image_tag "ibracem.png", id:"client-logo", style: "width:300px" %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
         <!-- image_tag "center3.png", id:"client-logo" -->
      <div class="client-back" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/blue.png');">
        <div id="card-santuario">
          <%= image_tag "ibracem.png", id:"client-logo", style: "width:300px" %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
         <!-- image_tag "center3.png", id:"client-logo" -->
      <div class="client-back" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/blue.png');">
        <div id="card-talkb4">
          <%= image_tag "talkb4.png", id:"client-logo", style: "width:300px" %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
         <!-- image_tag "center3.png", id:"client-logo" -->
      <div class="client-back" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/blue.png');">
        <div id="card-abrasce">
          <%= image_tag "abrasce.jpg", id:"client-logo", style: "height:200px" %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
         <!-- image_tag "center3.png", id:"client-logo" -->
      <div class="client-back" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/blue.png');">
        <div id="card-ibracem">
          <%= image_tag "ibracem.png", id:"client-logo", style: "width:300px" %>
        </div>
      </div>
    </div>
  </div>
</div>


